body {
  background-color: rgba(66,101,144,.15);
  margin: 0;
  padding: 0;
  color: #252525;
/*   border: 10px black solid; */
}

.header {
  background-color: #426590;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 75px;
  border-bottom: 10px solid #252525;
  border-top: 10px solid #252525;
   
}

.header__img {
}

.header__name {
  font-size: 4em;
/*   border-right: 5px solid #252525; */
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 80px;
  margin-top: 15px;
  text-shadow: 3px 3px rgba(35,35,35,.5);
}

.header__social {
/*   margin-left: 30px; */
  text-shadow: 3px 3px rgba(35,35,35,.5);
  border-left: 5px solid #252525;
  padding-left: 40px;
}

.header__social__link {
  font-size: 4em;
  margin-top: 20px;
}

.header__about {
  font-size: 1.6em;
  margin-top: 50px;
  text-shadow: 1px 1px rgba(35,35,35,.5);
}

.projects {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 1.75em;
  text-shadow: 1px 1px rgba(35,35,35,.5);
}

.projects__project {
  display: block;
  line-height: 50px;
}

.skills {
  font-size: 1.75em;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
  text-shadow: 1px 1px rgba(35,35,35,.5);
}

h2 {
  text-decoration: underline; 
}

a {
  color: #904F42;
}

a:hover {
  color: #906D42;
  text-decoration: none;
}